<div class="container"><slot /></div>
<style>
  .container {
    display: grid;
    grid-template-columns:
      [full-bleed-start]
      minmax(var(--page-margin), 1fr)
      [content-start]
      minmax(0, var(--content-max-width))
      [content-end]
      minmax(var(--page-margin), 1fr) [full-bleed-end];
  }

  @media (max-width: 768px) {
    .container {
      grid-template-columns:
        [full-bleed-start]
        0
        [content-start]
        minmax(0, 1fr)
        [content-end]
        0
        [full-bleed-end];
    }
  }
</style>
