---
import WorkGrid from "../components/WorkGrid.astro";
import Hero from "../components/Hero.astro";
import GridContent from "../components/LayoutGrid/GridContent.astro";
import GridFullBleed from "../components/LayoutGrid/GridFullBleed.astro";
import LayoutGrid from "../components/LayoutGrid/LayoutGrid.astro";
import LogoStrip from "../components/LogoStrip.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <LayoutGrid>
    <GridContent borderInline>
      <Hero
        titleText="independent Creative company specializing in the fields of design, brand and digital experiences."
        subtitleText="Brooklyn Creative is the independent studio practice of Nicole Formica. Her approach combines creative strategy with aesthetic expertise to craft beautiful, user-focused products and authentic brand experiences."
        buttonText="Let's work together"
        buttonHref="mailto:nmformica@gmail.com"
      />
    </GridContent>
    <GridFullBleed borderTop borderBottom>
      <LogoStrip />
    </GridFullBleed>
    <GridContent>
      <WorkGrid />
    </GridContent>
    <GridContent borderInline borderBottom>
      <div class="spacer"></div>
    </GridContent>
  </LayoutGrid>
</Layout>

<style>
  .spacer {
    height: 80px;
  }

  @media (max-width: 768px) {
    .spacer {
      border-inline: 0;
    }
  }
</style>
