---
import { Image } from "astro:assets";
import Hero from "../components/Hero.astro";
import GridContent from "../components/LayoutGrid/GridContent.astro";
import GridFullBleed from "../components/LayoutGrid/GridFullBleed.astro";
import LayoutGrid from "../components/LayoutGrid/LayoutGrid.astro";
import Layout from "../layouts/Layout.astro";
import nicole_headshot from "../images/nicole_headshot.jpg";
---

<Layout>
  <LayoutGrid>
    <GridContent borderInline>
      <Hero
        titleText="Brooklyn Creative is the independent studio practice of Nicole Formica"
        subtitleText="With over a decade of experience working with both established and brand new companies across a variety of industries, \
Nicole understands the importance of how brand, visual and digital design intersect. \
Her approach combines creative strategy with aesthetic expertise to craft beautiful, user-focused products and authentic brand experiences.\n\n\
Whether you're starting from scratch or pivoting direction, Nicole is passionate about helping companies imagine all their possibilities every step of the way."
        buttonText="Let's work together"
        buttonHref="mailto:nicolepimentel001@gmail.com"
      />
    </GridContent>
    <GridFullBleed borderBottom borderTop>
      <div class="core-services-header">
        <h2 class="h2">core specialties & services:</h2>
      </div>
    </GridFullBleed>
    <GridContent borderInline>
      <div class="core-services">
        <ul>
          <li>Visual Strategy</li>
          <li>Product Design</li>
          <li>Digital Product Strategy</li>
          <li>Branding</li>
          <li>Logo & Identity Design</li>
          <li>Creative Direction</li>
        </ul>

        <ul>
          <li>Web Design</li>
          <li>Information Architecture (IA)</li>
          <li>User Experience Design (UX)</li>
          <li>User Interface Design (UI)</li>
          <li>User Research & Interviews</li>
          <li>Prototyping</li>
        </ul>

        <ul>
          <li>Responsive Design</li>
          <li>Design Systems</li>
          <li>Design & Creative Frameworks</li>
          <li>Design & Creative Consulting</li>
        </ul>
      </div>
    </GridContent>
    <GridContent borderInline borderTop>
      <div class="partners-clients">
        <div>
          <h2 class="h2">Creative partners:</h2>
          <p>
            I have incredible partners who can help me get the job done for any
            project needs: Illustration, Iconography, Full Stack Development,
            Motion Design, Copywriting, Photography, Motion Graphics,
            Typography, Packaging, Web Development, Mobile Development
          </p>
        </div>
        <div>
          <h2 class="h2">select clients:</h2>
          <p>
            Foursquare, Teachers Pay Teachers, Glossier, Ribbon Home, Oceans
            Ventures, Pivot Bio, Granular, LG Electronics, Abbot Technologies,
            ID.me, Qualtrics, TheSkimm, Pepsi, <br /><br />...the only one
            missing is you!
          </p>
        </div>
      </div>
    </GridContent>
    <GridFullBleed borderTop borderBottom>
      <div class="about-background">
        <LayoutGrid>
          <GridContent borderInline>
            <div class="about-section">
              <Image
                src={nicole_headshot}
                alt="Nicole Formica"
                class="headshot"
              />
              <div class="about-content">
                <h2 class="h2">Nicole Formica<br />Founder & principal</h2>
                <p>
                  Nicole has spent her career exploring the in's and out's of design through creative leadership, 
                  in-house product design and most recently, full time freelancing working with a variety of clients, 
                  big and small. She received her BFA in New Media Design and Imaging from Rochester Institute of Technology. 
                  Since 2011, she has lived in New York and has an extensive background working with both in-house and agency environments.
                  <br /><br />
                  Learn More: <a
                    href="https://www.linkedin.com/in/nicole-pimentel-formica-a5110228"
                    target="_blank"
                    >LinkedIn</a
                  >
                </p>
              </div>
            </div>
          </GridContent>
        </LayoutGrid>
      </div>
    </GridFullBleed>
  </LayoutGrid>

  <style>
    .core-services-header h2 {
      text-align: center;
      margin-block: 1.7em;
    }

    .core-services {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1.25rem;
      margin-inline: 40px;
      margin-top: 2.5rem;
      margin-bottom: 5rem;
    }

    @media (max-width: 768px) {
      .core-services {
        grid-template-columns: 1fr;
        gap: 2.5rem;
        text-align: center;
      }
    }

    .partners-clients {
      display: grid;
      grid-template-columns: 1fr 1fr;

      > * {
        padding-inline: 2.5em;
        text-align: center;
        padding-block: 5rem;

        h2 {
          margin-bottom: 1.25rem;
        }
      }

      > :last-child {
        border-left: 1px solid var(--color-divider);
      }
    }

    @media (max-width: 768px) {
      .partners-clients {
        grid-template-columns: 1fr;
        > :last-child {
          border-left: none;
          border-top: 1px solid var(--color-divider);
        }
      }
    }

    .about-background {
      background-color: var(--color-primary);
      color: var(--color-background);
    }

    .about-section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;

      > :last-child {
        border-left: 1px solid var(--color-divider);
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
      }

      > * {
        padding: 2.5em;
      }
    }

    @media (max-width: 768px) {
      .about-section {
        grid-template-columns: 1fr;
        > :last-child {
          border-left: none;
        }
      }
    }

    .about-content {
      .h2 {
        color: var(--color-background);
        margin-bottom: 1.25rem;
      }
    }

    .headshot {
      width: 100%;
      height: auto;
      aspect-ratio: 520 / 440;
    }
  </style>
</Layout>
