---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a class="button" href={href}><slot /></a>
<style>
  .button {
    display: inline-block;
    padding: 1em 2em;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: var(--color-background);
    background-color: var(--color-primary);
    text-transform: uppercase;
  }
</style>
