---
import type { CollectionEntry } from "astro:content";

interface Props {
  case: CollectionEntry<"cases">;
  showBorder?: boolean;
}
const { case: c, showBorder = true } = Astro.props;
---

<a
  class:list={["case-item", { "case-item-border": showBorder }]}
  href={`/cases/${c.slug}`}
>
  <img class="case-image" src={`${c.data.thumbnail}&${c.id}`} />
  <h2 class="case-title h3">{c.data.title}</h2>
  <div class="case-body">{c.data.tags.join(", ")}</div>
</a>

<style>
  .case-item {
    padding: 40px;
  }

  .case-item-border {
    border-right: 1px solid var(--color-divider);
  }
  .case-image {
    background-color: gray;
    width: 100%;
    aspect-ratio: 520 / 489; /* TODO: remove */
    height: auto;
  }

  .case-title {
    margin-top: 40px;
  }

  .case-body {
    font-size: 0.75rem;
    font-weight: 500;
    text-transform: uppercase;
  }

  @media (max-width: 768px) {
    .case-item-border {
      border-right: none;
    }
  }
</style>
