<footer>
  <div class="container">
    <div class="info">
      <div class="wordmark">brooklyn creative</div>
      <p>
        An independent creative company specializing in design, brand and
        digital experiences.
      </p>
      <p class="copyright">Copyright © Nicole Formica LLC 2024</p>
    </div>
    <div class="email">hello@brooklyncreative.com</div>
  </div>
</footer>
<style>
  footer {
    background-color: var(--color-primary);
    height: 324px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container {
    display: flex;
    align-items: center;
    padding-inline: var(--page-margin);
    justify-content: space-between;
    max-width: var(--content-max-width);
    height: 100%;
    margin-inline: var(--page-margin);
  }

  .info {
    flex-basis: 25%;
    color: var(--color-background);
  }

  .wordmark {
    font-family: "TAYBirdie";
    font-size: 1.25rem;
    line-height: 1.125rem;
  }

  .info p {
    font-size: 0.75rem;
    line-height: 1rem;
  }

  .info .copyright {
    margin-top: 32px;
  }

  .email {
    flex-basis: 75%;
    text-align: right;
    color: var(--color-background);
    font-size: clamp(1rem, -1.6667rem + 5.5556vw, 2.5rem);
    font-weight: 700;
  }

  @media screen and (max-width: 768px) {
    .email {
      display: none;
    }

    .info {
      flex-basis: 100%;
      text-align: center;
    }
  }
</style>
