<div class="container">
  <div class="title">
    <slot name="title" />
  </div>
  <div class="left">
    <slot name="left" />
  </div>
  <div class="right">
    <slot name="right" />
  </div>
</div>
<style>
  .container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(12, 1fr);
    padding: 120px 40px 80px 40px;
    border-inline: 1px solid var(--color-divider);
  }

  .title {
    grid-column: 2 / span 10;
    margin-bottom: 40px;
  }

  .left {
    grid-column: 2 / span 6;
  }

  .right {
    grid-column: 9 / span 4;
  }

  @media (max-width: 768px) {
    .container {
      border-inline: 0;
    }
    .title {
      grid-column: 1 / span 12;
    }

    .left {
      grid-column: 1 / span 12;
    }

    .right {
      margin-top: 40px;
      grid-column: 1 / span 12;
    }
  }
</style>
