<nav>
  <div class="top-line"></div>
  <div class="container">
    <img src="logo.svg" alt="logo" width="80px" height="60px" />
    <div class="nav-links">
      <a class="selected" href="#">work</a>
      <a href="#">services</a>
      <a href="#">packages</a>
      <a href="#">contact</a>
    </div>
  </div>
  <style>
    nav {
      border-bottom: 1px solid var(--color-divider);
      height: 108px;
    }
    .top-line {
      background-color: var(--color-primary);
      height: 6px;
    }
    .container {
      display: flex;
      align-items: center;
      height: 100%;
      margin-inline: 148px;
    }

    .nav-links {
      display: flex;
      gap: 20px;
      margin-left: auto;
    }

    a {
      color: var(--color-text);
      font-size: 0.875rem;
      line-height: 1rem;
      text-transform: uppercase;
      position: relative;
    }
    a:hover:after,
    a.selected:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: -10px;
      height: 2px;
      background-color: var(--color-primary);
    }
  </style>
</nav>
