---
const pages = [
  { title: "work", url: "/" },
  { title: "services", url: "/services" },
  // { title: "packages", url: "/packages" },
  { title: "contact", url: "mailto:nicolepimentel001@gmail.com" },
].map((page) => ({
  ...page,
  selected: Astro.url.pathname === page.url,
}));
---

<nav>
  <div class="top-line"></div>
  <div class="container">
    <a href="/">
      <img src="/logo.svg" alt="logo" width="80px" height="73px" />
    </a>
    <label for="menu" tabindex="0" class="mobile-nav-button">
      <input type="checkbox" id="menu" />
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </label>
    <div class="nav-links">
      {
        pages.map((page) => (
          <a href={page.url} class:list={[{ selected: page.selected }]}>
            {page.title}
          </a>
        ))
      }
    </div>
  </div>
</nav>
<style>
  :root {
    --nav-height: 108px;
  }

  nav {
    border-bottom: 1px solid var(--color-divider);
    height: var(--nav-height);
  }
  .top-line {
    background-color: var(--color-primary);
    height: 6px;
  }
  .container {
    display: flex;
    align-items: center;
    height: 100%;
    padding-inline: 100px;
    margin-inline: auto;
    max-width: var(--content-max-width);
  }

  .nav-links {
    display: flex;
    gap: 20px;
    margin-left: auto;

    a {
      color: var(--color-text);
      font-size: 0.875rem;
      line-height: 1rem;
      text-transform: uppercase;
      position: relative;
    }
  }

  mobile-nav-button,
  input {
    display: none;
  }

  a::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    width: 0%;
    bottom: -10px;
    height: 2px;
    background-color: var(--color-primary);
  }
  a:hover::after,
  a.selected::after {
    width: 100%;
    transition: width 0.3s ease 0.2s;
  }

  a:not(.selected):not(:hover)::after,
  .nav-links:hover > a.selected:not(:hover)::after {
    width: 0;
    transition: width 0.3s ease 0.2s;
  }

  @media screen and (max-width: 768px) {
    .container {
      padding-inline: var(--page-margin);
      position: relative;
    }
    .mobile-nav-button:has(input[type="checkbox"]:not(:checked)) + .nav-links {
      height: 0;
      overflow: hidden;
      padding-top: 0;
    }

    .line {
      transition: all 0.2s ease;
    }
    .mobile-nav-button:has(input[type="checkbox"]:checked) {
      .line:nth-of-type(1) {
        transform-origin: center;
        transform: translate(0, 300%) rotate(45deg);
      }
      .line:nth-of-type(2) {
        opacity: 0;
      }
      .line:nth-of-type(3) {
        transform-origin: center;
        transform: translate(0, -300%) rotate(-45deg);
      }
    }

    body:has(#menu:checked) {
      overflow: hidden;
    }

    .nav-links {
      flex-direction: column;
      position: fixed;
      top: var(--nav-height);
      right: 0;
      height: calc(100vh - var(--nav-height));
      left: 0;
      background-color: var(--color-background);
      z-index: 2;
      align-items: center;
      gap: 80px;
      padding-top: 80px;
      transition: all 0.2s ease;
      a {
        font-size: 1.5rem;
      }
    }
    .mobile-nav-button {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 4px;
      width: 24px;
      height: 24px;
      margin-left: auto;

      .line {
        display: block;
        width: 100%;
        height: 2px;
        background-color: var(--color-text);
      }
    }
  }
</style>
