---
import { getCollection } from "astro:content";
import WorkTile from "./WorkTile.astro";

const allWork = await getCollection("work");
---

<div class="work-grid">
  {allWork.map((work) => <WorkTile work={work} />)}
</div>
<style>
  .work-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-left: 1px solid var(--color-divider);
    border-bottom: 1px solid var(--color-divider);
  }

  @media (max-width: 768px) {
    .work-grid {
      grid-template-columns: 1fr;
      border-left: none;
      border-bottom: none;
    }
  }
</style>
