---
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Brooklyn Creative Company</title>
  </head>
  <body>
    <Nav />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  @font-face {
    font-family: "TAYBirdie";
    src: url("/fonts/TAYBirdie.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "OverpassMono";
    src: url("/fonts/OverpassMono-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "OverpassMono";
    src: url("/fonts/OverpassMono-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "OverpassMono";
    src: url("/fonts/OverpassMono-SemiBold.ttf") format("truetype");
    font-weight: semibold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "OverpassMono";
    src: url("/fonts/OverpassMono-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "OverpassMono";
    src: url("/fonts/OverpassMono-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  :root {
    --color-primary: #eb6145;
    --color-background: #edede5;
    --color-divider: #d1cdc4;
    --color-text: #5f4d40;

    --page-margin: 40px;
    --content-max-width: 1200px;
  }

  body {
    margin: 0;
    padding: 0;
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: "OverpassMono", monospace;
    font-size: 1rem;
    line-height: 1.625rem;
    font-weight: normal;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: normal;
  }

  .h2 {
    font-family: "TAYBirdie";
    font-size: 1.5rem;
    color: var(--color-primary);
  }

  .h1 {
    font-family: "TAYBirdie";
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: normal;
    color: var(--color-primary);
    text-transform: uppercase;
  }

  @media (max-width: 768px) {
    .h1 {
      font-size: 1.75rem;
      line-height: 1.875rem;
    }

    .h2 {
      font-size: 1.125rem;
    }
  }

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: none;
      color: inherit;
    }

    &:visited {
      text-decoration: none;
      color: inherit;
    }
  }
</style>
